.Countdown {
  display: grid;
  margin: 5px;
  position: relative;

  h2 {
    font-family: "Bangers", cursive;
    font-size: 3.5em;
    color: #222;
  }

  h2::after {
    content: " ";
    width: 40%;
    height: 10px;
    background-color: #1f75b9;
    position: absolute;
    right: 10px;
    top: 27px;
    border-radius: 3px;
  }

  h2::before {
    content: " ";
    width: 40%;
    height: 10px;
    background-color: #1f75b9;
    position: absolute;
    left: 10px;
    top: 27px;
    border-radius: 3px;
  }

  .filmTitle {
    font-size: 2em;
    margin: 25px auto 10px;
    background: #f28f18;
    width: 50%;
    color: #f3f3f3;
    text-align: center;
    transform: skew(-23deg);
  }

  .videoCountGrid {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr;
    // à virer pour revenir comme c'était avant
    background-color: none;

    .youtube {
      grid-row-start: 1;
      grid-column-start: 1;
      justify-self: center;
      width: 80%;
      // à virer pour revenir comme c'était avant
      background-color: black;

      span {
        width: 80%;
        margin: auto;
      }
    }
    .clockContainer {
      align-self: center;
      justify-content: center;
      grid-row-start: 2;
      grid-column-start: 1;
      // à virer pour revenir comme c'était avant
      color: black;
      .clock {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        font-family: "Bangers", cursive;
        font-size: 2em;
        width: 40%;
        margin: auto;
        .spanTop {
          transform: scale(1, 3.5); /* W3C */
          -webkit-transform: scale(1, 3.5); /* Safari and Chrome */
          -moz-transform: scale(1, 3.5); /* Firefox */
          -ms-transform: scale(1, 3.5); /* IE 9 */
          -o-transform: scale(1, 3.5); /* Opera */
          font-size: 3vw;
        }

        .spanBottom {
          transform: scale(1, 2); /* W3C */
          -webkit-transform: scale(1, 2); /* Safari and Chrome */
          -moz-transform: scale(1, 2); /* Firefox */
          -ms-transform: scale(1, 2); /* IE 9 */
          -o-transform: scale(1, 2); /* Opera */
          font-size: 1.5vw;
          align-self: flex-end;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .Countdown {
    .videoCountGrid {
      grid-template-rows: 1fr;
      grid-template-columns: 60% 40%;
      // à virer pour revenir comme c'était avant
      background-color: none;

      .youtube {
        padding-bottom: 0px;
        grid-row-start: 1;
        grid-column-start: 1;
      }
      .clockContainer {
        grid-row-start: 1;
        grid-column-start: 2;
        // color: white;
        .clock {
          width: 60%;
        }
      }
    }
  }
}
