
.Countdown {
    display: grid;
    margin: 5px;
    position: relative;

    h2 {
        font-family: 'Bangers', cursive;
        font-size: 3.5em;
        color: #222;
    }

    h2::after {
        content: " ";
        width: 40%;
        height: 10px;
        background-color: #1f75b9;
        position: absolute;
        right: 10px;
        top: 27px;
        border-radius: 3px
    
    }
    
    h2::before {
        content: " ";
        width: 40%;
        height: 10px;
        background-color: #1f75b9;
        position: absolute;
        left: 10px;
        top: 27px;
        border-radius: 3px
    
    }

    .filmTitle {

        font-size: 2em;
        margin: 25px auto 10px;
        background: #f28f18;
        width: 50%;
        color: #f3F3F3;
        text-align: center;
        transform: skew(-23deg);
    }
    
    .clock {
        font-family: 'Bangers', cursive;
        grid-row: 5;
        justify-self: center;
        width: 100%;
        font-size: 2em;
        p {
            margin: 0;
        }
    }
}
