///// IMPORT VARIABLES SCSS /////

@import "../Variables.scss";

// Component Container
.card-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  margin-bottom: 5vw;

  .header-hero {
    width: 100%;
    padding: 27px 0;
    background-position: center;
    background-size: cover;
    filter: grayscale(73%);

    h2 {
      font-family: Bangers, cursive;
      font-size: 4em;
      margin-bottom: 0;
      color: $color-white;
      text-shadow: $color-black 6px 5px, $color-black -1px 1px,
        $color-black -1px -1px, $color-black 1px -1px;
    }

    h4 {
      font-family: "PT Sans Narrow", sans-serif;
      font-size: 3em;
      color: $color-white;
      text-shadow: $color-black 4px 3px, $color-black -1px 1px,
        $color-black -1px -1px, $color-black 1px -1px;
    }
  }
  .btnLine {
    display: flex;
    .link {
      text-transform: uppercase;
      text-decoration: none;
      padding: 20px 15px;
      margin: 30px;
      background-color: #222;
      color: #f3f3f3;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      font-weight: 700;
      outline: none;

      &:hover {
        background-color: #1f75b9;
      }
    }
  }

  // Grid Container for everything below the publisher name
  .card-grid-container {
    width: 70vw;
    margin-top: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40% 55% 4%;
    justify-content: center;

    .arrows {
      font-size: 9vw;
      color: $color-black;
      grid-row: 3;
      margin-top: 25px;
      &:hover {
        color: $color-yellow;
      }
    }

    .arrows.arrowLeft {
      grid-column: 1 / 2;
      align-self: center;
      justify-self: center;
    }

    // Left column of the grid
    .leftSide {
      grid-column: 1 / 3;
      grid-row: 1;

      img {
        width: 100%;
        border-radius: 3px;
      }
    }

    // Right column of the grid
    .rightSide {
      align-self: center;
      grid-column: 1 / 3;
      grid-row: 2;

      .idCard {
        border: 2px solid $color-yellow;
        border-radius: 3px;
        margin: 10px;
        padding: 14px;
        background-color: #222222;
        color: $color-white;
        box-sizing: border-box;

        &:hover {
          filter: brightness(115%);
          border: 2px solid $color-blue;
        }
      }

      h4 {
        color: $color-white;
        padding: 0;
        margin: 0;
        font-weight: 900;
        font-family: Bangers, cursive;
        letter-spacing: 3px;
        font-size: 1.6em;
      }

      h4:hover {
        cursor: pointer;
      }

      ul {
        display: none;
        flex-direction: column;
        width: 100%;
        list-style: none;
        padding: 0;
        margin-top: 10px;

        li {
          text-align: start;
          width: 100%;
          text-align: justify;
          font-family: "PT Sans Narrow", sans-serif;
          font-size: 1.2em;
          letter-spacing: 1px;
          text-transform: capitalize;

          .cardDetailSubTitle {
            color: $color-yellow;
          }
          .bar {
            background-color: $color-yellow;
            width: 100%;
            height: 20px;
            margin-bottom: 5px;
            border: 1px solid $color-yellow;
            .bar-inner {
              background-color: $color-white;
              height: 18px;
              position: relative;
              padding-right: 5px;
              text-align: right;
              font-size: 0.8em;
              font-weight: 700;
              color: #222222;
            }
          }

          .cardApiInfo {
            margin-bottom: 0;
            padding-left: 15px;
          }
          .cardBtnLess,
          .cardBtnMore {
            font-size: 23px;
            color: $color-blue;
            cursor: grab;
            margin-left: 15px;
            margin-top: 4px;
            margin-bottom: 4px;
          }
        }

        li:hover {
          cursor: pointer;
        }
      }
    }

    .arrows.arrowRight {
      grid-column: 2 / 3;
      align-self: center;
      justify-self: center;
    }
  }

  .random {
    text-decoration: none;
    font-size: 3em;
    color: $color-blue;
    margin-top: 25px;

    &:hover {
      color: $color-yellow;
    }
  }
}

// *********** M E D I A   Q U E R I E S ***********

@media only screen and (max-width: 1254px) and (min-width: 577px) {
  .card-container {
    .card-grid-container {
      .rightSide {
        h4 {
          font-size: 1.3em;
        }
      }
    }
  }
}

@media only screen and (min-width: 576px) {
  .card-container {
    padding-top: 12vw;

    .header-hero {
      h2 {
        font-size: 6em;
      }
    }
    .card-grid-container {
      grid-template-columns: 15% minmax(265px, 1fr) 1fr 15%;
      grid-template-rows: 1fr;

      .arrows {
        font-size: 3em;
        grid-row: 1;
      }

      .arrows.arrowLeft {
        grid-column: 1 / 2;
        justify-self: start;
      }
      .leftSide {
        grid-column: 2 / 3;
        grid-row: 1;
      }

      .rightSide {
        grid-column: 3 / 4;
        grid-row: 1;
      }

      .arrows.arrowRight {
        grid-column: 4 / 5;
        justify-self: end;
      }
    }
  }
}
