///// IMPORT VARIABLES SCSS /////

@import "../Variables.scss";

// Component Container
.card-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12vw;
  margin-bottom: 5vw;

  .header-hero {
    width: 100%;
    padding: 27px 0;
    background-position: center;
    background-size: cover;
    filter: grayscale(73%);

    h2 {
      font-family: Bangers, cursive;
      font-size: 6em;
      margin-bottom: 0;
      color: $color-white;
      text-shadow: $color-black 6px 5px, $color-black -1px 1px,
        $color-black -1px -1px, $color-black 1px -1px;
    }

    h4 {
      font-family: "PT Sans Narrow", sans-serif;
      font-size: 3em;
      color: $color-white;
      text-shadow: $color-black 4px 3px, $color-black -1px 1px,
        $color-black -1px -1px, $color-black 1px -1px;
    }
  }

  // Grid Container for everything below the publisher name
  .card-grid-container {
    width: 65vw;
    margin-top: 45px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;

    // Left column of the grid
    img {
      width: 100%;
      border-radius: 3px;
    }

    // Right column of the grid
    .rightSide {
      align-self: center;
      .idCard {
        border: 2px solid $color-yellow;
        border-radius: 3px;
        margin: 10px;
        padding: 14px;
        background-color: #222222;
        color: $color-white;
        box-sizing: border-box;
      }
      .idCard:hover {
        filter: brightness(115%);
        border: 4px solid $color-yellow;
      }

      h4 {
        color: $color-white;
        padding: 0;
        margin: 0;
        font-weight: 900;
        font-family: Bangers, cursive;
        letter-spacing: 3px;
      }

      h4:hover {
        cursor: pointer;
      }

      ul {
        display: none;
        flex-direction: column;
        width: 100%;
        list-style: none;
        padding: 0;
        margin-top: 10px;

        li {
          text-align: start;
          width: 100%;
          text-align: justify;
          font-family: "PT Sans Narrow", sans-serif;
          font-size: 1.2em;
          letter-spacing: 1px;
          text-transform: capitalize;

          .cardDetailSubTitle {
            color: $color-yellow;
          }
          .bar {
            background-color: $color-yellow;
            width: 100%;
            height: 20px;
            margin-bottom: 5px;
            border: 1px solid $color-yellow;
            .bar-inner {
              background-color: $color-white;
              height: 18px;
              // line-height: 18px;
              position: relative;
              padding-right: 5px;
              text-align: right;
              font-size: 0.8em;
              font-weight: 700;
              color: #222222;
            }
          }

          .cardApiInfo {
            margin-bottom: 0;
            padding-left: 15px;
          }
          .cardBtnLess,
          .cardBtnMore {
            font-size: 23px;
            color: $color-blue;
            cursor: grab;
            margin-left: 15px;
            margin-top: 4px;
            margin-bottom: 4px;
          }
        }

        li:hover {
          cursor: pointer;
        }
      }
    }
  }
}

// *********** M E D I A   Q U E R I E S ***********

@media only screen and (min-width: 670px) {
  .card-container {
    .card-grid-container {
      grid-template-columns: minmax(150px, 1fr) 1fr;
    }
  }
}
