.youtube {
    width: 60%;
    justify-self: center;
    grid-row: 4;
    height: auto;
}

@media screen and (max-width: 576px) {
    .youtube {
        width: 100%;
    }
    iframe {
        height:220px;
    }
}

@media screen and (min-width: 576px) {
    .youtube {
        width: 100%;
    }
    iframe {
        height:250px;
    }
}

@media screen and (min-width: 768px) {
    .youtube {
        width: 75%;
        
        iframe {
            height:300px;
        }
    }
}

@media screen and (min-width: 992px) {
    .youtube {
        width: 65%;
        
        iframe {
            height:400px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .youtube {
        width: 50%;
        
        iframe {
            height:350px;
        }
    }
}

@media screen and (min-width: 1400px) {
    .youtube {
        width: 45%;
        
        iframe {
            height:420px;
        }
    }    
}