
div {
    display: grid;
    margin: 5px;
    h3 {
        color: blue;
    }
    .clock {
        justify-self: center;
        width: 400px;
        font-size: 2em;
        background-color: black;
        color: white;
        p {
            margin: 0;
        }
    }
}
