article { 
    width: 100%; 
    margin: 60px auto; 
    text-align: center;
    zoom: 2;
}

.contaner {

    background-color: white;


    .LogoNav{
        height: 10vw;
        margin-left: 30px
    }
    
    
    .Search {
        width: 40px;
        height: 40px;
        margin-right: 30px;
    }

    a img:hover #search,
        a:hover #home {
        fill: red;
    }
    
    a #search,
    a #home { 
        transition: 200ms;
        transition-timing-function: ease-in-out;
        -webkit-transition: 200ms;
        -webkit-transition-timing-function: ease-in-out;
    }

    a { 
        outline: none; 
        border: 0; 
        text-decoration: none; 
    }
    
    .Home {
        width: 40px;
        height: 40px;
        margin-right: 30px;
    }
}

@media (max-width: 640px) {

    .contaner {

        display: grid;
        grid-template-columns: 50% 25% 25%;
        
        .LogoNav{
            grid-column: 1,
        }
        
        
        .Search {
            grid-column: 2,
        }
        
        .Home {
            grid-column: 3,
        }
    }
}