////// FONTS //////

$font-bangers: 'Bangers', cursive;
$font-PT: 'PT Sans Narrow', sans-serif;

/////// COLORS ///////

$color-darkblue: #113971;
$color-blue: #1f75b9;
$color-yellow: #f28f18;
$color-black: #222;
$color-white: #f3f3f3;