// .Foot {
//     display: grid;
//     grid-template-columns: minmax(15%,25%) 1fr minmax(15%,25%);
//     height: 4vw;
//     align-items: center;
    
    
//     .footerImg {
//         width: 100%;
//         height: 18vw;
//         grid-column: 1 / 4;
//         position: inherit;
//     }

//     .Copyright {
//         justify-self: center;
//         align-self: flex-end;
//         margin-bottom: -16vw;
//         text-align: center;
//         font-size: 1vw;
//         grid-column: 2;
//         z-index: 1;
//         color: white;
//     }

//     .icons {
//         display: grid;
//         grid-column: 3;
//         grid-template-columns: repeat(3,1fr);
//         grid-gap: 15px;
//         justify-self: flex-end;
//         margin-bottom: -28vw;
//         margin-right: 50px;
//         z-index: 1;
//         bottom: -7vw;

//         .iconFacebook{
//             grid-column: 1;
//             width: 3.5vw;
//         }

//         .iconTwitter {
//             grid-column: 2;
//             width: 3.5vw;
//         }

//         .iconInstagram {
//             grid-column: 3;
//             width: 3.5vw;
//         }
//     }
// }
/////////////////////////////// MEDIA QUERIES  /////////////////////////////////


@media screen and (max-width: 576px) {
.Foot {

    // .Copyright {
    //     justify-self: center;
    //     align-self: flex-end;
    //     margin-bottom: -16vw;
    //     text-align: center;
    //     font-size: 1vw;
    //     grid-column: 2;
    //     z-index: 1;
    //     color: white;
    // }

    .icons {
        display: grid;
        grid-column: 3;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 15px;
        justify-self: flex-end;
        margin-bottom: -28vw;
        margin-right: 50px;
        z-index: 1;
        bottom: -7vw;

        .iconFacebook{
            grid-column: 1;
            width: 3.5vw;
        }

        .iconTwitter {
            grid-column: 2;
            width: 3.5vw;
        }

        .iconInstagram {
            grid-column: 3;
            width: 3.5vw;
        }
    }
}
    .Foot {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-row: 3;
        height: 4vw;
        align-items: center;

        .footerImg {
            width: 100%;
            height: 18vw;
            position: inherit;
            grid-column: 1 / 4;
        }
    
        .Copyright {
            justify-self: center;
            align-self: flex-end;
            text-align: center;
            font-size: 1vw;
            grid-column: 2;
            z-index: 1;
            color:black;
            margin-bottom: 0;
            font-size: 4vw;
            grid-row: 2;
        }
    
        .icons {
            grid-gap: 10vw;
            grid-row: 1;
    
            .iconFacebook{
                width: 12vw;
            }
    
            .iconTwitter {
                width: 12vw;
            }
    
            .iconInstagram {
                width: 12vw;
            }
    
        }
    
    }
}

@media screen and (min-width: 576px) {
    .Foot {
        
        .footerImg {
            height: 25vw;
            bottom: -35vw;
        }
    
        .Copyright {
            bottom: -17vw;
            color:black;
            margin-bottom: 0;
        }
    
        .icons {
            justify-self: center;
            bottom: -3vw;
            grid-column: 1;
            margin-right: 0;
            grid-gap: 40px;
    
            .iconFacebook{
                width: 45px;
            }
    
            .iconTwitter {
                width: 45px;
            }
    
            .iconInstagram {
                width: 45px;
            }
    
        }
    
    }
}

@media screen and (min-width: 768px) {
    .Foot {
        
        .footerImg {
            height: 25vw;
            bottom: -14vw;
        }
    
        .Copyright {
            bottom: -26vw;
            color:white;
            margin-bottom: 0;
        }
    
        .icons {
            justify-self: center;
            bottom: 1vw;
            grid-column: 1;
            margin-right: 0;
            grid-gap: 40px;
    
            .iconFacebook{
                width: 45px;
            }
    
            .iconTwitter {
                width: 45px;
            }
    
            .iconInstagram {
                width: 45px;
            }
    
        }
    
    }
}

@media screen and (min-width: 992px) {
    .Foot {
        
        .footerImg {
            height: 25vw;
            bottom: -9vw;
        }
    
        .Copyright {
            bottom: -23vw;
            color:white;
            margin-bottom: 0;
        }
    
        .icons {
            justify-self: center;
   
            .iconFacebook{
                grid-column: 1;
                width: 40px;
            }
    
            .iconTwitter {
                grid-column: 2;
                width: 40px;
            }
    
            .iconInstagram {
                grid-column: 3;
                width: 40px;
            }
    
        }
    
    }
}           


@media screen and (min-width: 1200px) {
    .Foot {
        
        .footerImg {
            height: 19vw;
            bottom: -5.5vw;
        }
    
        .Copyright {
            bottom: -15vw;
            color: white;
            margin-bottom: 0;
        }
    
        .icons {
            display: grid;
            grid-column: 3;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 15px;
            justify-self: flex-end;
            margin-right: 50px;
            position: absolute;
            z-index: 1;
            bottom: -14vw;
    
            .iconFacebook{
                grid-column: 1;
                width: 40px;
            }
    
            .iconTwitter {
                grid-column: 2;
                width: 40px;
            }
    
            .iconInstagram {
                grid-column: 3;
                width: 40px;
            }
    
        }
    
    }
}


@media screen and (min-width: 2540px) {
    .Foot {
        display: grid;
        grid-template-columns: minmax(15%,25%) 1fr minmax(15%,25%);
        height: 4vw;
        align-items: center;
        
        
        .footerImg {
            width: 100%;
            height: 18vw;
            grid-column: 1 / 4;
            position: inherit;
        }
    
        .Copyright {
            justify-self: center;
            align-self: flex-end;
            margin-bottom: -16vw;
            text-align: center;
            font-size: 1vw;
            grid-column: 2;
            z-index: 1;
            color: white;
        }
    
        .icons {
            display: grid;
            grid-column: 3;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 15px;
            justify-self: flex-end;
            margin-bottom: -28vw;
            margin-right: 50px;
            z-index: 1;
            bottom: -7vw;
    
            .iconFacebook{
                grid-column: 1;
                width: 3.5vw;
            }
    
            .iconTwitter {
                grid-column: 2;
                width: 3.5vw;
            }
    
            .iconInstagram {
                grid-column: 3;
                width: 3.5vw;
            }
        }
    }
}
