///// IMPORT VARIABLES SCSS /////

@import '../Variables.scss';

//////// MEDIA QUERIES ///////

@media screen and (max-width: 576px) {

    .form-control {
        font-size: 4vw !important;
        height: 8vw !important;
        font-family: $font-PT;
    }
}

@media screen and (min-width: 576px) {

    .form-control {
        font-size: 3vw !important;
        height: 6vw !important;
        font-family: $font-PT;
    }
}

@media screen and (min-width: 768px) {

    .form-control {
        font-size: 2.5vw !important;
        height: 4.5vw !important;
        font-family: $font-PT;
    }
}

@media screen and (min-width: 1024px) {

    .form-control {
        font-size: 2vw !important;
        height: 3vw !important;
        font-family: $font-PT;
    }
}
